@model EntitiyLayer.Concrete.Entitiy.kullanıcı
@{
    ViewBag.Title = "mudurgetir";
}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/Style/assets/css/güncelle.css" rel="stylesheet" />

</head>
<body>

    <!-- Author: FormBold Team
     Learn More: https://formbold.com
    <div class="formbold-form-wrapper">


    <
    form method="POST">-->
    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">

            @using (Html.BeginForm("mudurguncelle", "Guncelle", FormMethod.Post))

            {
                @Html.HiddenFor(model => model.kullanıcıID)
            <div>
                <div class="formbold-input-flex">
                    <div>
                        <label for="firstname" class="formbold-form-label">
                            Kullanıcı Adı
                        </label>
                        @Html.TextBoxFor(p1 => p1.kullanıcıAdı, new { @class = "formbold-form-input" })

                    </div>
                    <div>
                        <label for="firstname" class="formbold-form-label">
                            Şifre
                        </label>

                        @Html.TextBoxFor(p1 => p1.sifre, new { @class = "formbold-form-input" })
                    </div>

                </div>

                <div class="formbold-input-flex">
                    <div>
                        <label for="email" class="formbold-form-label">

                            Ad
                        </label>
                        @Html.TextBoxFor(p1 => p1.ad, new { @class = "formbold-form-input" })
                    </div>

                    <div>
                        <label for="phone" class="formbold-form-label">

                            Soyad
                        </label>
                        @Html.TextBoxFor(p1 => p1.soyad, new { @class = "formbold-form-input" })
                    </div>



                </div>
                <div>
                    <label for="phone" class="formbold-form-label">

                        Eposta
                    </label>
                    @Html.TextBoxFor(p1 => p1.eposta, new { @class = "formbold-form-input",  })
                </div>
                <div class="formbold-mb-3">
                    <label for="address" class="formbold-form-label">
                        Yetki Seviyesi

                    </label>
                    @Html.TextBoxFor(p1 => p1.yetkiSeviyesi, new { @class = "formbold-form-input" })
                </div>


            </div>
                <button class="formbold-btn" value="Kaydet">Kaydet</button>


            }

        </div>

    </div>


</body>
</html>

